/* global styling */
body {
    background-color: #4289f4;
    /*overflow: scroll !important;*/
}


.wrapper {
    background-color:#e8ede6;
    border-radius: 6px;
}

form, button {
    width: 100%;
    padding: 5px;
}

input[type="submit"] {
    width: 30%;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float:none;
}

textarea {
    resize: none;
}


/* global ends*/


/*forms hide*/
.cardForm, #listForm {
    display:none;
}

/* cards style */
.cardList {
    clear: both;
}

.cardList li {
    margin: 3px;
}

.list-group-item:hover {
    background-color:#979aa0;
}

.glyphicon-pencil {
    float: right;
}

/* cards style end*/



/* list styling*/
.oneList {
    float: left;
    margin-bottom: 10px;
}

.alllistDiv {
    flex-wrap: wrap;
    display: flex;
}

.oneList h4 {
    float: left;
    margin-left: 15px;
    font-weight: bold;
    text-align: center;
}

.addCard {
    background-color:#e8ede6;
    color: black;
    border: 0px;
}

.addCard:hover {
    background-color:#979aa0;
    color: black;
    border: 0px;
}

/* list styling end*/


/* drop menu list styling*/
.dropMenuList, .dropMenuList:hover {
    color: black !important;
    font-weight:bold;
    position: relative;
    text-align: left;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(244, 176, 66, 0) !important;
    border: 0px;
}

.dropMenuList:active,
.dropMenuList:focus,
.dropMenuList:target,
.dropMenuList:active:focus,
.dropMenuList:active {
    color: black !important;
    background-color: rgba(244, 176, 66, 0) !important;
    border: 0px;

}


.pull-right>.dropdown-menu {
    right: auto !important;
    left: 0;
}
/* dropmenu styling ends*/


/* Modal style*/
@media (min-width: 768px)
.modal-dialog {
    width: 800px;
}


.side-menu form, .modalFormCard  {
    display: none;
}

.side-menu a, .submitList-modal, .side-menu form {
    width: 80%;
    margin-top: 4px;
}

.form-content div {
    margin-left: 10px;
    font-size: 16px;
}


.form-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.form-content form {
    padding-top: 0px;
}


.form-content, .side-menu {
  vertical-align: middle;
  line-height: 1;
}

#move-all-cards form, #move-all-cards .modal-footer {
    width: 80%;
    margin: auto;
}