<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Trello</title>
        {% load staticfiles %}
        {% load static %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--My css-->
        <link rel="stylesheet" type="text/css" href="{% static 'trello/style.css' %}">
        <!--JS-->
        <script src="{% static 'trello/app.js' %}" type=""></script>
    </head>
    <body>
        <!--navbar-->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">My Trello</a>
            </div>
          </div>
        </nav>

        <!--container div-->
        <div class="container-fluid">
            <!--Div for all lists-->
            <div class="row alllistDiv">
             {% if alllist %}
              {% for list in alllist %}
                <!--div for one list-->
                <div class="oneList col-md-2 col-sm-3 col-xs-4">
                    <section class="wrapper">
                    <div class="listHeader">
                        <h4>{{ list.name }}</h4>

                        <!--menu for list-->
                        <div class="dropdown pull-right">
                          <button class="btn btn-primary dropdown-toggle dropMenuList" type="button" data-toggle="dropdown">...
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" id="dropMenuList">
                            <li class="dropdown-header">Action list</li>
                            <li class="divider"></li>
                            <li><a href="#">Copy list</a></li>
                            <li><a href="#">Delete list</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Cards list</li>
                            <li class="divider"></li>
                            <li><a href="#">Move all cards</a></li>
                            <li><a href="#">Delete all cards</a></li>
                          </ul>
                        </div>
                        <!--end of menu-->

                        <!--card list-->
                        <div class="cardList">
                            {% if list.card_set.all %}

                                <ul class="list-group" >
                                {% for card in list.card_set.all %}
                                    <li class="list-group-item">{{ card.name }} <span class="glyphicon glyphicon-pencil"></span> </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                    </div>
                    <!--card form-->
                    <div class="cardFormContainer">
                        <button type="button" class="btn btn-primary addCard btn-sm">Add card</button>
                        <form method="POST" class="cardForm" data-id="{{ list.id }}"> {% csrf_token %}
                            {{ cardform }}<br>
                            <input type="submit" class="btn btn-info btn-md submitList" value="Add">
                            <span class="glyphicon glyphicon-remove"></span>
                        </form>
                    </div>
                    <!--end of card form-->
                    </section>
                </div>
                <!--end of one list-->
              {% endfor %}
            {% endif %}


                    <!--div for  list form-->
                    <div class="listFormDiv col-md-2 col-sm-3 col-xs-4">
                        <button type="button" class="btn btn-primary addList btn-lg">Add list</button>
                        <form method="POST" id="listForm"> {% csrf_token %}
                            {{ listform }}<br>
                            <input type="submit" class="btn btn-info btn-md submitList" value="Add">
                            <span class="glyphicon glyphicon-remove"></span>
                        </form>
                    </div>

                <!--container div-->
                </div>
            </div> <!--end of div for all lists-->




    </body>
</html>